
<%- include('header') -%>


<div>
<h1> The Lion is back</h1>
<p>
    Uganda safari is one that comes to mind. From the rare Gorilla trekking of 
    Bwindi Impenetrable Forest, wonderful bird watching, fishing the Nile or 
    lake Victoria, climbing to the snow on Rwenzori Mountains, rafting and kayaking 
    the Nile or experiencing its breath taking landscape on the Victoria basin home 
    to the big 5 Wildlife Uganda Safari against the backdrop of the mighty river 
    Nile with its majestic Murchison Falls to the warm welcoming cultures of Uganda.
</p>

</div>


<%- include('footer') -%>    

